[Unit]
Description=SwayOSD Server
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swayosd-server
Restart=always
RestartSec=1
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=%t

[Install]
WantedBy=graphical-session.target
