{{ if eq .chezmoi.username "nsado" -}}
#!/bin/bash
#----------------
{{ if not (stat "~/.ssh") }}
  mkdir -p ~/.ssh
  chmod 700 ~/.ssh
{{ end }}
#----------------
{{ if not (lookPath "ssh") }}
  echo "OpenSSH is not installed...Installing"
  sudo pacman -S --noconfirm openssh 
{{ end }}
#----------------
{{ if not (lookPath "age") }}
  echo "Age encryption tool is not installed."
  sudo pacman -S --noconfirm age
{{ end }}
#----------------
{{ if not (stat "~/.ssh/id_ed25519") }}
  age -d -o ~/.ssh/id_ed25519 ~/.local/share/chezmoi/secrets/id_ed25519.age
  chmod 600 ~/.ssh/id_ed25519
  cp ~/.local/share/chezmoi/secrets/id_ed25519.pub ~/.ssh
{{ end }}
#----------------
{{ end -}}
