# ~/.config/chezmoi/chezmoi.toml

[data]
    name = "{{ promptStringOnce . "name" "Enter your git name" }}"
    email = "{{ promptStringOnce . "email" "Enter your git email address" }}"

[source]
    dir = "{{ .chezmoi.homeDir }}/.dotfiles"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]


[git]
    autoPush = true